@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css (or your main CSS file) */
/* Customize the scrollbar color */
.mySwiper .swiper-scrollbar-drag {
    background-color: #ffffff; /* Replace 'your-color' with your desired color */
  }
  .swiper-scrollbar{
    background-color: #465748
  }

 


  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
h2,h1,h3,h4,h5,h6{
  font-family: 'Quicksand', sans-serif;
}